@import "vars.scss";

@media only screen and (min-width : 1024px){
	.item{
	       min-width : 20%; 
	       max-width : 30%
	}    
	.blog_header {
		.blog_img{
     	   float:left;
			.circular{
			    width: 100px;
			    height: 100px;
			    border-radius: 50px;
			    -webkit-border-radius: 50px;
			    -moz-border-radius: 50px;
			}           
	    }
	    .blog_title {
            font-size: 4.25em;	
		}
		.blog_quote{
			font-size: 2.25em;
		}
	}
	#share_icons{
	    text-align: right;
	    margin-right: 25px;
	    margin-top: 10px;
	    a{
	        width: 24px;
	        height: 24px;
	        background-repeat:no-repeat;
	    }
	    a:hover{
	        background-repeat:no-repeat;
	    }
	}
	.prev-link{
		float: left;
	}
	.next-link{
		float: right;
	}

	.mosaicflow__column {
	    float: left;
	}

	.mosaicflow__item {
	    box-shadow: 5px 5px 2.5px #888888;
	    img {
	        display: block;
	        width: 100%;
	        height: auto;
	        border-radius: 30px;
	    }
	}

	.grid_url {
	    color: #000000;
	    &:hover {
	        text-decoration: none;
	    }
	}

	.grid {
	    padding: 5px;
	    margin:10px;
	    border-radius: 5px;
	    border: 1px solid #888888;
	    &:hover{
	        box-shadow: 15px 15px 10px #888888;
	        color: $black;
	    }
	    .grid_image {
	        margin-bottom: 30px;
	        max-height: 275px;
	    }
	    .grid_title {
	        color: $orange;
	        text-align: center;
	    }
	    .grid_date {
	        text-align: right;
	        font-style: italic;
	        font-size: 75%;
	    }
	}
}