@import 'bootstrap';
$maroon-color: #710101;
$background-white: #ffffff; 
$post-font: 'Sintony', sans-serif;

@mixin texture_background{
    background: {
        image: url(../images/pixel_weave/pixel_weave.png);
        repeat: repeat;
    }
}

body{
  @include texture_background;
}

.title{
  @extend .col-md-8;
  @extend .col-md-offset-2;
  margin-top:10px;
  background: $background-white;
  @include border-top-radius(10px);
  h1{
    color: $maroon-color;
  }
}
.post{
  @extend .col-md-8;
  @extend .col-md-offset-2;
  margin-bottom:20px;
  text-align: justify;	
  font-family: $post-font;
  font-size: 21px;
  line-height: 31px;
  padding: 10px;
  background: $background-white;
  @include border-bottom-radius(10px);
}