@import 'bootstrap';
$maroon-color: #710101;
$background-white: #ffffff; 
$header_grey: #909090;
$link_color: #2a6496;
$post-font: 'Sintony', sans-serif;

@mixin texture_background{
    background: {
        image: url(../images/pixel_weave/pixel_weave.png);
        repeat: repeat;
    }
}

body{
  @include texture_background;
}

.title{
  @extend .col-md-8;
  @extend .col-md-offset-2;
  margin-top:10px;
  padding-bottom:10px;
  background: $background-white;
  @include border-top-radius(10px);
  h1{
    color: $maroon-color;
  }
}
.post{
  @extend .col-md-8;
  @extend .col-md-offset-2;
  margin-bottom:20px;
  margin-top:10px;
  text-align: justify;	
  font-family: $post-font;
  font-size: 21px;
  line-height: 31px;
  padding: 10px;
  background: $background-white;
  @include border-bottom-radius(10px);
}
.date{
  float:right;
  color: $header_grey;

}
.tags{
  float:left;
  color: $header_grey;
  a{
    padding:0 2px;
  }
  a:hover{
    background-color: $link_color;
    color: #ffffff;
    text-decoration: none;
  }
}