 <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/me">
      <img class="brand_img" src="/assets/images/profile.jpg">Prasanna
	  </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/prasann">Github</a></li>
        <li><a href="https://twitter.com/pvenk">@pvenk</a></li>
        <li><a href="/feed.xml">Feed</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="blog_header">
	<a href="/">
	    <h1 class="blog_title">Random Presence</h1>
	    <div class="blog_quote">Of my thoughts & scribblings ...</div>
	</a>
</div>