{% assign twitter_text = "" %}
<div id="share_icons">
	<a href="http://www.facebook.com/sharer/sharer.php?u=http://prasans.info{{ page.url }}"><img src="/assets/images/share/facebook24x24.png" alt="Share it in Facebook"/></a>
	<a href="http://twitter.com/intent/tweet?text={{page.title}} : http://prasans.info{{ page.url }}"><img src="/assets/images/share/twitter24x24.png" alt="Share it in Twitter"/></a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://prasans.info{{ page.url }}"><img src="/assets/images/share/linkedin24x24.png" alt="Share it in Linkedin"/></a>
</div>