---
---
.resume{
	font-family: Calibri, sans-serif;
	.header{
		text-align:center;
		.contact{
			li{
				display:inline-block;
				list-style: none;
			}
		}	
	}
	.content{
		text-align: justify;
	}

}