---
---
.resume {
    font-family: Calibri, sans-serif;
    .header {
        text-align: center;
        .contact {
            li {
                display: inline-block;
                list-style: none;
            }
        }
    }
    .content {
        div {
            margin: 5px 0;
        }
        .empty{
        	clear: both;
        	height: 10px;
        }
        margin: 0 7%;
        line-height: 1.4;
        text-align: justify;
        .section {
        	clear: both;
        	margin: 10px 0;
            .sub-heading {
                clear: both;
                margin: 15px 0;
                font-weight: bold;
                font-size: 125%;
            }
            .list_items {
                text-align: left;
                li {
                    float: left;
                    width: 33%;
                }
            }
        }
    }
}

@media print {
    .page_break {page-break-before: always;}
}