---
layout: home
title: Random Presence
---
<div id="index_container" class="post">
  {% for post in site.categories[page.category] %}
    {% if post.published == true and post.travelogue != true%}
      <a class="item" href="{{ post.url }}">
        <div class="item-title">{{ post.title }}</div>
        <div class="item-date">{{ post.date | date_to_string }}</div>
        {% if post.meta-description %}
          <div class="item-meta">{{ post.meta-description }}</div>
        {% endif %}
      </a>
    {% endif %}
  {% endfor %}
</div>
