<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <style>
        body {
            background: #560056;
            color: white;
        }

        body div {
            font-size: 200px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 15%;
        }
    </style>
</head>

<body>

<div>Coming Up !!</div>

</body>
</html>
