	<html>
	<head>
		{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
		{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
		<link rel="stylesheet" type="text/css" href="{{ relative }}assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ relative }}assets/css/application.css">
		<title>Random Presence</title>
	</head>
	<body>
		{% include _blog_header.html %}
		{{ content }}
		{% include _footer.html %}
	</body>
	<script src="{{ relative }}/assets/js/jquery.min.js"></script>
	<script src="{{ relative }}assets/js/jquery.mosaicflow.min.js"></script>

	<script type="text/javascript">
	</script>
	</html>