<!DOCTYPE html>
<html>
<head>
    {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %} {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
    {% include _meta_tags.html %} 
    <link rel="stylesheet" type="text/css" href="{{ relative }}assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ relative }}assets/css/application.css">
    <link rel="stylesheet" type="text/css" href="{{ relative }}assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="{{ relative }}assets/css/tomorrow-night-bright.css">
</head>

<body>
    {% include _blog_header.html %} 
    {% include _next_prev_link.html %}
    {% include _title.html %}
    {{ content }} 
    {% include _disqus.html %}
    {% include _footer.html %} 
</body>
<script src="{{ relative }}/assets/js/jquery.min.js"></script>
<script src="{{ relative }}/assets/js/jquery-ui.min.js"></script>
<script src="{{ relative }}/assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{ relative }}/assets/js/prettify.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#images').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
			enabled: true,
			navigateByImgClick: true,
			preload: [0,1]
		}
    });
    $('#image').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0,1]
        }
    });
    prettyPrint();
});
</script>

</html>