<!DOCTYPE html>
<html>
<head>
    {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %} {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
    {% include _meta_tags.html %} 
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ relative }}assets/css/post.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
</head>

<body>
    {% include _blog_header.html %} 
    {% include _next_prev_link.html %}
    {% include _title.html %}
    {{ content }} 
    {% include _share_icons.html %}
    {% include _disqus.html %}
    {% include _footer.html %} 
</body>
<script src="{{ relative }}assets/js/application.js"></script>

</html>